Id : <%= @game.id %> <br />
Title : <%= @game.title %> <br />
<div id='status'>Status : <span><%= @game.status %></div> <br />
<div id='remain_time'>Remain Time : <span id='count'></span></div>
<div class='progress'>
  <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<div class='player' id='first_player'>
  Player 1 : <span class='player_id'><%= @game_player_ids.first %></span>, score : <span class='score'><%= @last_score['0'] %></span> <br />
</div>
<div class='player' id='last_player'>
  Player 2 : <span class='player_id'><%= @game_player_ids.last %></span>, score : <span class='score'><%= @last_score['1'] %></span> <br />
</div>

<div class='winner'>
</div>

<%= form_tag games_join_path, style: 'display: inline-block;' do %>
  <% unless @game.new? && !@game.full? %>
    <% option = 'disabled' %>
  <% end %>
  <%= hidden_field_tag 'game_id', @game.id %>

  <%= submit_tag 'join', class: 'join_game', disabled: option, class: 'btn btn-outline-success btn-lg' %>
<% end %>

<%= form_tag games_start_path, style: 'display: inline-block;' do %>
  <% unless @game.new? %>
    <% option = 'disabled' %>
  <% end %>
  <%= hidden_field_tag 'game_id', @game.id %>
  <%= submit_tag 'game start', class: 'start_game', disabled: option, class: 'btn btn-outline-info btn-lg' %>
<% end %>

<%= form_tag games_leave_path, style: 'display: inline-block;' do %>
  <% unless @game.new? %>
    <% option = 'disabled' %>
  <% end %>
  <%= hidden_field_tag 'game_id', @game.id %>
  <%= submit_tag 'game leave', class: 'leave_game', disabled: option, class: 'btn btn-outline-warning btn-lg' %>
<% end %>

<%= hidden_field_tag 'game_id', @game.id %>

<% if @game.started? || @game.finished? %>
  <div class='game_board'>
    <% @last_matrix[0].length.times do |i| %>
      <div class='tiles' style='display: flex;'>
      <% @last_matrix[0].length.times do |j| %>
        <% if @last_matrix[i][j] == 0 %>
          <% color = 'red' %>
        <% elsif @last_matrix[i][j] == 1 %>
          <% color = 'blue' %>
        <% else %>
          <% color = 'black' %>
        <% end %>
        <div class='tile' style="width: 20px; height: 20px; background: <%= color %>; display: inline-block;" data-x=<%=i%> data-y=<%=j%>></div>
      <% end %>
      </div>
    <% end %>
  </div>
<% else %>
  <div class='game_board'>
<% end %>
</div>
