<!DOCTYPE html>
<html>
  <head>
    <title>Obversion</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- sweetalert-->
    <script src="/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/dist/sweetalert.css">
  </head>

  <body>
    <% if session[:player_id] %>
      <%= Player.find(session[:player_id]).username %>
      <%= link_to 'logout', accounts_logout_path %>
    <% else %>
      <%= link_to 'login', accounts_path %>
    <% end %>
    <hr>
    <br />
    <%= yield %>
  </body>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <% unless flash[:notice].nil? %>
    <script>
      swal({
        title: 'Error!',
        text: '<%= flash[:notice] %>',
        type: 'error',
        confirmButtonText: 'I Got It'
      });
    </script>
  <% end %>
</html>
