<!DOCTYPE html>
<html>
  <head>
    <title>Obversion</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- sweetalert-->
    <script src="/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/dist/sweetalert.css">
  </head>

  <body>
    <nav class="navbar navbar-light bg-faded">
      <% if session[:player_id] %>
        <%= link_to 'logout', accounts_logout_path %>
      <% else %>
        <%= link_to 'login', accounts_path %>
      <% end %>
    </nav>
    <div class='container'>
      <%= yield %>
    </div>
  </body>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <% unless flash[:notice].nil? %>
    <script>
      swal({
        title: 'Error!',
        text: '<%= flash[:notice] %>',
        type: 'error',
        confirmButtonText: 'I Got It'
      });
    </script>
  <% end %>
</html>
